name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    # IMPORTANT: This tells GitHub to run this on YOUR laptop!
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/todo-app:v1 .

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:v1

    - name: Deploy to Minikube
      # This forces Kubernetes to pull the new image even if the tag is the same
      run: |
        kubectl rollout restart deployment/todo-app-deployment
        kubectl rollout status deployment/todo-app-deployment